<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Data</title>
    <link rel="stylesheet" href="UI\style.css">
</head>
<body>    
    <form id="request-form", method="post">
        <label for="from">From:</label><br>
        <input type="text" id="from" name="from"><br>
        <label for="to">To:</label><br>
        <input type="text" id="to" name="to"><br><br>
        <button type="submit">Find</button>
        <label class="infoL"></label>
    </form>    
    <script src="UI\main.js"></script>
</body>
</html>